package main

import (
	_ "{{.ModuleName}}/cmd"
	"{{.ModuleName}}/metadata"
	"{{.ModuleName}}/router"
	"github.com/xieqiaoyu/xin"
	"github.com/xieqiaoyu/xin/cmd"
)

func main() {
	cmd.RootCmd().Use = metadata.Name
	cmd.SetVersion(metadata.Version)
	cmd.UseRouterRegister(router.Register)
	xin.Config().SetDefault("http.listen", ":8080")
	//cmd.VerifyConfigBySchema(configScheme)
	cmd.Execute()
}
