#! /usr/bin/env bash
set -e

case $1 in
server)
    args=http
    ;;
version)
    args=version
    ;;
configtest)
    args=configtest
    ;;
*)
    echo Unknown operation
    exit 2
    ;;
esac

echo "building binary.."
rm -rf ./artifact
GOOS=linux go build -tags=usexorm -o artifact/bin ./cmd
cp ./static/dev-config.toml artifact/config.toml
echo "build success"

containerName=xin-devproject-{{.Name}}
networkName=xin-project-net
port=8080

docker run -it --rm --name=${containerName} --network=${networkName} \
    -v "${PWD}/artifact:/lab" \
    -p ${port}:8080 \
    -w "/lab" \
    golang:1.13 ./bin ${args}
