package cmd

import (
	"github.com/xieqiaoyu/xin/cmd"
	httpcmd "github.com/xieqiaoyu/xin/http/cmd"
	"{{.ModuleName}}/router"
)

func init() {
	cmd.UseRouterRegister(router.Register)
	cmd.RootCmd().AddCommand(httpcmd.Cmd())
}
