//Package metadata metadata of the project
// You can set this infomation when go build by passing -ldflags
package metadata

var (
    //Name  project name
    Name = "{{.Name}}"
    //Version project version string
    Version = "Unknown"
)
