package restful

import (
	"github.com/gin-gonic/gin"
	"github.com/xieqiaoyu/xin/http/api"
)

func (h *Handler)HelloWorld(c *gin.Context) {
	data := map[string]interface{}{
		"yes":"it works!",
	}
	api.SetData(data).Apply(c)
	//api.SetStatus(1400).SetError(errors.New("Opps")).Apply(c)
}
